@charset "utf-8";

@import '../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';

$fa-font-path: '../node_modules/@fortawesome/fontawesome-free/webfonts';
@import '../node_modules/@fortawesome/fontawesome-free/scss/solid.scss';
@import '../node_modules/@fortawesome/fontawesome-free/scss/brands.scss';

@import '../node_modules/bulmaswatch/darkly/_variables';

// some fonts (e.g. Monaco) do not have the same size as the other monospace fonts
$family-monospace: monospace;

@import '../node_modules/bulma/bulma';
@import '../node_modules/bulmaswatch/darkly/_overrides';

// square icon buttons
.button {
  height: auto;
  width: auto;
}

// darkly
.panel-block {
  &:hover {
    color: inherit;
  }
}
.table {
  background-color: inherit;
}

// add border around tags to increase visibility (e.g. for darkly)
.panel-block {
  .tag {
    box-shadow: 0 0 0 0.1em rgba(#eeeeee, 0.1) inset;
  }
}

// increase disabled button visibility (e.g. for darkly)
.button[disabled] {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

// recommended themes: default, litera, cyborg, flatly, superhero
